body {
  font: 14px "Lato", Arial, sans-serif;
  min-width: 100%;
  min-height: 100%;
  color: #666;
}

:focus {
  outline: none;
}

col {
  width: 10%;
  margin: 40px 3%;
}

input[type="text"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 10%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.effect-1 {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.effect-1~.focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3399FF;
  transition: 0.4s;
}

.effect-1:focus~.focus-border {
  width: 100%;
  transition: 0.4s;
}

.movie_section {
  background-color: #333;
  height: 25vh;
  width: 40rem;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10rem;
}