body {
  font: 14px "Lato", Arial, sans-serif;
  height: 50vh;
  background-image: radial-gradient(circle, #002244, #00466a, #006c85, #009290, #36b88d);
}



page {
  height: 100vh;
}

:focus {
  outline: none;
}

col {
  width: 100%;
  

}

input[type="text"] {
  font: 30px/30px "Lato", Arial, sans-serif;
  
  width: 10rem;
  
  font-size: 50px;
  color: white;
  text-shadow: 0 0 8px white;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.effect-1 {
  border: 0;
  padding: 0px 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);;
  background: transparent;
  margin: auto;
  position: relative;
  display: block;
  width: 200px;
  margin-top: 25px;
  
}

.effect-1~.focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3399FF;
  transition: 0.4s;
}

.effect-1:focus~.focus-border {
  width: 100%;
  transition: 0.4s;
}

.movie_section {
  background-color: #333;
  height: 25vh;
  width: 40rem;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  background: transparent;

}


h1{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 0px;
  color: white;
  text-shadow: 0 0 8px white;
  margin-top: 50px;
}

h2{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 0px;
  color: white;
  text-shadow: 0 0 8px white;
  margin-top: 20px;
}

p{
  font-size: medium;
  text-shadow: 0 0 8px white;
  width: 300px;
  margin: auto;
  position: relative;
  display: block;
  margin-top: 10px;
  
}
